<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link href="/chat.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <% if(isLogined){ %>
        <p class="welcome-msg">欢迎光临聊天室，当前登录用户：<%= name %>，<a href="/logout" id="logout">退出登陆</a></p>
    <% }%>
    <ul id="messages"></ul>
    <form action="">
      <input id="user" type="hidden" value=<%=name%> />
      <input id="m" placeholder="请输入聊天内容" autocomplete="off" /><button>发送</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      function showText(obj, isSelf){
        var tpl = '<div class="user">' +
                    obj.user + "   发表于" + (new Date(obj.time).toLocaleString()) +
                  '</div>' +
                  '<div class="msg">' +
                    obj.msg +
                  '</div>';
        $('#messages').append($('<li class="' + (isSelf ? 'is-self' : '') +'">').html(tpl));
      }

      $(function () {
        var socket = io();
        $('form').submit(function(){
          var obj = {
            'msg': $('#m').val(),
            'user': $('#user').val(),
            'time': new Date().getTime()
          };
          socket.emit('chat message', obj);
          $('#m').val('');
          showText(obj, true);
          return false;
        });

        socket.on('chat message', function(obj){
          var user = $('#user').val();
          if(user == obj.user){
            return false;
          }
          showText(obj);
        });
      });
    </script>
  </body>
</html>