<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>登录</title>
  <link href="/login.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="login">
      <form method="post" action="/login">
          <input name="username" placeholder="请输入用户名" required="" type="text">
          <button onclick="submit()">登录</button>
      </form>
  </div>
  <script type="text/javascript">
    function submit(){
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
</body>
</html>